.clean-side-padding
    padding-left: 0
    padding-right: 0

.tabs--primary
    +hide
.control-tabs
    .tabs--primary
        +show

.admin-menu
    .menu-onpage
        +posfix1(35px,5px)
.menu-onpage
    +posfix1(5px,5px)
    z-index: 1000
#navbar
    margin-top: 0
    +above(768px)
        display: none

.bootstrap-slideshow
    p
        margin-bottom: 10px
    ol
        bottom: 10px
        li
            width: 12px
            height: 12px
            margin: 0 5px
            &.active
                margin: 0 5px

.block
    .block-title
        +common-block-title

#page-title
    margin-left: 0
    margin-right: 0

#admin-menu,
.menu-onpage,
.logoblock
    +below($breakpoint2)
        +hide

.home-slideshow
    .view-content
        .views-slideshow-controls-top
            position: relative
            a
                +size(40px,40px)
                outline: none
                text-indent: -9999px
            .views-slideshow-controls-text-pause
                +hide
            .views-slideshow-controls-text-previous
                +posabs1(30px,15px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-prev.svg")
            .views-slideshow-controls-text-next
                +posabs2(30px,10px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-next.svg")
            .views-slideshow-pager-fields
                +flex-row
                +posabs1(0,0) /*Vị trí top của pager sẽ được điểu chỉnh bởi jquery*/
                justify-content: center
                width: 100%
                z-index: 100
                +below($breakpoint1)
                    +hide
                .views-slideshow-pager-field-item
                    +invisible-link-block
                    +size(12px,12px)
                    background: #fff
                    border-radius: 6px
                    border: 1px solid rgba(0,0,0,0.5)
                    margin: 0 2px
                    cursor: pointer
                    opacity: 1
                    &.active
                        background: $color-primary
        .views_slideshow_cycle_main
            .views-slideshow-cycle-main-frame
                .views-slideshow-cycle-main-frame-row
                    position: relative
                    width: 100% !important
                    img
                        +image-responsive
                    .views-fieldset
                        +posabs4(0,0)
                        +size(100%,120px)
                        padding: 15px
                        box-sizing: border-box
                        text-align: center
                        +below($breakpoint1)
                            position: relative
                            top: auto
                            height: auto
                        .views-field-title
                            a
                                font: bold 15px $globalfont
                                color: $color-primary
                        .views-field-body
                            margin-top: 5px
