=common-block-title
    font: bold 18px/25px $globalfont
    margin: 20px 15px
    padding: 10px 0
    border-bottom: 1px solid $color-primary

=common-textform
    border: 1px solid $color-primary
    border-radius: 4px
    font: 14px $globalfont
    padding: 5px
    box-sizing: border-box

=common-submit-button
    padding: 5px 10px
    font: 14px $globalfont
    border: none
    border-radius: 3px
    color: #fff
    cursor: pointer
    background: darken($color-primary,20%)
    display: inline-block
