/*Trang chủ*/
.front
    .block-title
        +nopadmar
        +bgnorep-tc("bg-title.png")
        background-size: auto 50px
        text-align: center
        color: #fff
        font: bold 22px/51px $globalfont
        //text-transform: uppercase
        border: none
        margin-bottom: 40px
        +below($breakpoint1)
            margin-bottom: 10px
    .standard-block
        +centerblock(100%)
        overflow: hidden
    .inner
        +centerblock($globalwidth)
        +below($breakpoint1)
            width: 100%
            padding: 20px
            box-sizing: border-box

    .banner
        +below($breakpoint1)
            margin-top: 50px
            //+hide

    .menuchinh
        +below($breakpoint1)
            +posfix1(0,0)
            z-index: 9999
        .mobile-display
            +bgnorep-tl("logo-mobile.png")
            background-size: auto 50px
            height: 50px
            background-color: $color-primary
            box-shadow: 0 0 5px rgba(0,0,0,0.5)
            +above($breakpoint1)
                +hide
            .toggle-menu
                +rightblock-h(50px,50px)
                +bgnorep-cc("menu-toggle.svg")
                background-size: 35px 35px
                cursor: pointer
                &:hover
                    background-color: darken($color-primary,10%)
        ul
            +nopadmar
            +flex-row-center
            +below($breakpoint1)
                background: #fff
                display: none
            li
                list-style: none
                +below($breakpoint1)
                    +flex-column(1)
                    border-bottom: 1px solid #cacaca
                a
                    font: 20px/80px $globalfont
                    display: block
                    padding: 0 15px
                    color: $color-primary
                    +below($breakpoint1)
                        font: 18px/40px $globalfont
                        text-align: right


    .messages
        .inner
            +below($breakpoint1)
                padding: 0

    .video
        +bgnorep-cc("bg-euromap.jpg")
        background-size: cover
        padding: 40px 0
        +below($breakpoint1)
            padding: 20px 0
            .inner
                padding: 0 20px

        iframe
            border: 1px solid $color-primary
            background: #333
            border-radius: 10px
            overflow: hidden
            +below($breakpoint1)
                height: 270px

    .gioithieu
        padding: 40px 0
        font: 18px/30px $globalfont
        color: $color-text
        text-align: justify
        +below($breakpoint1)
            padding: 0
        strong
            color: $color-primary

    .hoatdong
        +bgnorep-cc("bg-hoatdong.jpg")
        padding: 40px 0
        background-size: cover
        +below($breakpoint1)
            padding: 20px 0
        .inner
            +centerblock(80%)
            +below($breakpoint1)
                width: 100%
                padding: 0 10px
                box-sizing: border-box
            .view-content
                +flex-row-center
                .views-row
                    +flex-column(3)
                    padding: 0 5px 10px 5px
                    box-sizing: border-box
                    +below($breakpoint1)
                        +flex-column(2)
                    +below(630px)
                        +flex-column(1)

                    .views-field-body
                        position: relative
                        .field-content
                            +posabs3(0,0)
                            +size(100%,140px)
                            padding: 15px 20px 0 20px
                            box-sizing: border-box
                            background: rgba(10,72,145,0.95)
                            color: #fff
                            font: 13px/22px $globalfont

    .hoithao
        padding: 40px 0
        +below($breakpoint1)
            padding: 20px 0
        .block-title
            margin-bottom: 30px
            +below($breakpoint1)
                margin-bottom: 10px
        .inner-wrap
            +bgnorep-tc("bg-hoithao.jpg")
            background-size: cover
            padding: 40px 0 20px
            +below($breakpoint1)
                padding: 20px 0 0 0
            .inner
                font: 18px/30px $globalfont
                color: #fff
                text-align: justify
                p,ul
                    margin-bottom: 30px

    .phanqua
        +hide
        margin: 0 0 30px
        & > p
            text-align: center
            font: bold 20px/30px $globalfont
            margin-bottom: 40px
        .inner
            text-align: center
            font: 20px/30px $globalfont
            .view-content
                .views-row
                    margin-bottom: 30px
                    img
                        +size(auto, 110px)
                        display: inline-block
                        margin-bottom: 25px


    .thoigian
        .block-title
            margin-bottom: 20px
            +below($breakpoint1)
                margin-bottom: 0px
        .inner
            +centerblock($breakpoint1)
            +below($breakpoint2)
                width: 100%
        .view-content
            +flex-row
            .views-row
                +flex-column(2)
                padding: 0 10px
                box-sizing: border-box
                +below($breakpoint2)
                    +flex-column(1)
                    margin-bottom: 20px
                    padding: 0

                .fieldset
                    min-height: 175px
                    background: $color-primary
                    border-radius: 10px
                    padding: 20px 20px 0
                    box-sizing: border-box
                    +below($breakpoint2)
                        height: auto
                        padding-bottom: 20px
                    .views-field-title
                        text-transform: uppercase
                        color: #FBC604
                        font-weight: bold
                        font-size: 24px
                        margin-bottom: 10px
                        padding-left: 30px
                    .views-field-body
                        color: #fff
                        font: 17px/25px $globalfont
                        p
                            margin-bottom: 5px
                            padding-left: 30px
                            &:first-child
                                +bgnorep-tl("icon-time.svg")
                                background-size: auto 20px
                            &:nth-child(2)
                                +bgnorep-tl("icon-place.svg")
                                background-size: auto 25px

    .countdown
        +hide
        margin-top: 30px
        +below($breakpoint1)
            margin-top: 0
        .inner
            +centerblock($breakpoint1)
            +bgnorep-lc("countdown-label.svg")
            background-size: 40% auto
            +below($breakpoint1)
                +bgnorep-tc("countdown-label.svg")
                background-size: 50% auto
                width: 100%
                padding: 25% 0 0 0
                box-sizing: border-box
            +below($breakpoint2)
                background-size: 80% auto

    .countries
        +bgnorep-cc("bg-euromap.jpg")
        background-size: cover
        padding: 40px 0
        //margin-top: 40px
        +below($breakpoint1)
            padding: 20px 0 0
            margin-top: 60px
            .block-title
                margin-bottom: 0

    .dangky
        +bgnorep-tc("bg-dangky.jpg")
        background-size: cover
        padding: 30px 0 40px
        margin-top: 40px
        +below($breakpoint1)
            padding: 10px 0
        .inner
            +flex-row
            & > div
                +flex-column(2)
                font: 17px/30px $globalfont
                color: #fff
                +below($breakpoint1)
                    +flex-column(1)
            .formdangky
                padding-right: 50px
                box-sizing: border-box
                +below($breakpoint1)
                    padding: 0px
                header
                    +hide
                .webform-client-form
                    margin-top: 30px
                    .form-text,
                    .form-select
                        background: rgba(0,0,0,0.1)
                        border: 1px solid #fff
                        padding: 5px 10px
                        border-radius: 0
                        font: 18px/60px $globalfont
                        color: #fff
                        box-sizing: content-box
                        display: block
                        +below($breakpoint1)
                            width: 90%
                            line-height: inherit
                        option
                            color: #333
                    .form-submit
                        +bgnorep-pos("icon-dangky.svg",15px,15px)
                        background-color: #0074FF
                        background-size: 30px auto
                        border-radius: 5px
                        font: 25px/50px $globalfont
                        color: #fff
                        text-transform: uppercase
                        text-shadow: 1px 1px 0 rgba(0,0,0,0.5)
                        padding: 0 30px 0 60px
                        box-shadow: 2px 2px 0 rgba(0,0,0,0.4)
                        border: none
                        margin-top: 20px
                        +below($breakpoint1)
                            margin: 0 auto
                            display: block
            .lienhe
                padding-left: 20px
                box-sizing: border-box
                +below($breakpoint1)
                    padding: 0
                    margin-top: 30px
                .title
                    margin: 0 0 25px 0
                    font-weight: bold
                    +below($breakpoint1)
                        text-align: center
                p
                    padding-left: 30px
                    padding-right: 60px
                    &.diachi
                        +bgnorep-pos("icon-place.svg",5px,0)
                        background-size: 20px auto
                    &.dienthoai
                        +bgnorep-lc("icon-phone.svg")
                        background-size: 20px auto
                    &.email
                        +bgnorep-lc("icon-mail.svg")
                        background-size: 20px auto
                    &.website
                        +bgnorep-lc("icon-home.svg")
                        background-size: 20px auto
                    &.facebook
                        +bgnorep-lc("icon-facebook.svg")
                        background-size: 20px auto
    .solieu
        +bgnorep-bc("bg-solieu.jpg")
        background-size: cover
        padding: 30px 0
        +below($breakpoint1)
            padding: 20px 0 0
        .view-content
            +flex-row
            .views-row
                +flex-column(4)
                text-align: center
                font: 20px $globalfont
                color: #fff
                border-right: 1px solid #fff
                +below($breakpoint1)
                    +flex-column(2)
                    border: none
                    margin-bottom: 30px
                &.views-row-last
                    border: none
                .views-field-field-image
                    text-align: center
                    img
                        +size(45px,auto)
                        display: inline-block
                .views-field-title
                    font-size: 32px
                    font-weight: bold
                    margin: 15px 0
    .nutdangky
        +size(150px,auto)
        +posfix3(20px,0)
    .copyright
        background: darken($color-primary,20%)
        line-height: 40px
        color: #fff
