.view
    .view-content
        .views-row
            position: relative
        .views-field-edit-node
            +posabs1(5px,5px)
            +size(20px,20px)
            +bgnorep-cc("icon-edit.svg")
            +opacity-hover
            border-radius: 10px
            background-color: lighten($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block

        .views-field-delete-node
            +posabs1(5px,27px)
            +size(20px,20px)
            +bgnorep-cc("icon-delete.svg")
            +opacity-hover
            border-radius: 10px
            background-color: darken($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block
