@import "variables"
@import "w3ateamlibs/lib-master"
@import "mixins"
@import "views"
@import "blocks"
@import "pages"
@import "modules"

a
    font: bold 14px $globalfont
    text-decoration: none
    color: $color-primary
    outline: none
    &:hover
        color: lighten($color-primary,10%)

h1
    +common-block-title

#admin-menu
    a
        font-size: 11px
.internal-link
    position: relative
    a
        +posabs3(50px,0)

body
    +nopadmar
    font: 14px/20px $globalfont
    color: $color-text
    .container
