#countdown
    +centerblock(100%)
    text-align: center
    position: relative

    #tiles
        +flex-row-right
        position: relative
        box-sizing: border-box
        z-index: 1
        +below($breakpoint2)
            +flex-row-center
        & > span
            +size(118px,118px)
            margin: 0 10px
            padding: 18px 0
            text-align: center
            color: #111
            border-radius: 50%
            border: 2px solid #C2C2C2
            +below($breakpoint2)
                margin-top: 20px
                +size(70px,70px)
                padding: 13px 0
                margin: 0 5px
            .number
                font: bold 40px "Calibri"
                color: $color-primary
                width: 100%
                clear: both
                display: block
                +below($breakpoint2)
                    font: bold 30px "Calibri"
            .label
                font: 20px "Calibri"
                color: $color-text
                clear: both
                display: block
                +below($breakpoint2)
                    margin-top: 20px
